dist: trusty
sudo: required
language: csharp
mono: none
before_install:
  - sudo sh -c 'echo "deb [arch=amd64] https://apt-mo.trafficmanager.net/repos/dotnet-release/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
  - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 417A0893
  - sudo apt-get update
  - sudo apt-get install dotnet-sdk-2.0.0
script:
  - dotnet restore ./EFSqlTranslator.sln
  - dotnet build ./EFSqlTranslator.sln
  - dotnet test ./EFSqlTranslator.Tests/EFSqlTranslator.Tests.csproj
